system.secret-key: {{secrets['system_secret_key']}}

redis.clusters:
  default:
    hosts:
      0:
        host: {{secrets['redis_host']}}
        port: {{secrets['redis_port']}}

filestore.backend: 'filesystem'
filestore.options:
  location: '/tmp/sentry-files'

{% if secrets['email_server_host'] -%}
mail.host: '{{secrets['email_server_host']}}'
{% endif -%}
{% if secrets['email_server_port'] -%}
mail.port: {{secrets['email_server_port']}}
{% endif -%}
{% if secrets['email_server_username'] -%}
mail.username: '{{secrets['email_server_username']}}'
{% endif -%}
{% if secrets['email_server_password'] -%}
mail.password: '{{secrets['email_server_password']}}'
{% endif -%}
{% if secrets['email_server_tls'] -%}
mail.use-tls: {{secrets['email_server_tls']}}
{% endif -%}
{% if secrets['email_from'] -%}
mail.from: '{{secrets['email_from']}}'
{% endif -%}
{% if secrets['slack_client_id'] -%}
slack.client-id: '{{secrets['slack_client_id']}}'
{% endif -%}
{% if secrets['slack_client_secret'] -%}
slack.client-secrets: '{{secrets['slack_client_secret']}}'
{% endif -%}
{% if secrets['slack_verification_token'] -%}
slack.verification-token: '{{secrets['slack_verification_token']}}'
{% endif -%}
