system.secret-key: {{secrets['system_secret_key']}}

redis.clusters:
  default:
    hosts:
      0:
        host: {{secrets['redis_host']}}
        port: {{secrets['redis_port']}}

filestore.backend: 'filesystem'
filestore.options:
  location: '/tmp/sentry-files'
