options:
  admin-email:
    type: string
    default: "admin@example.com"
    description: |
      Email used to set up the admin account.
      Changing this after the initial setup is a no-op.
  admin-password:
    type: string
    default: "mysecret"
    description: |
      Password used to set up the admin account.
      Changing this after the initial setup is a no-op.
  db-extensions:
    type: string
    default: "citext"
    description: |
      Database extensions
  db-name:
    type: string
    default: "sentry"
    description: |
      Database name
  db-uri:
    type: string
    default: ""
    description: |
      Postgresql URI
  email-server-host:
    type: string
    default: ""
    description: |
      SMTP server hostname
  email-server-port:
    type: int
    default:
    description: |
      SMTP server port
  email-server-username:
    type: string
    default: ""
    description: |
      SMTP server username
  email-server-password:
    type: string
    default: ""
    description: |
      SMTP server password
  email-server-tls:
    type: boolean
    default: False
    description: |
      Set to True if you must use TLS to connect to your SMTP server
  email-from:
    type: string
    default: ""
    description: |
      Email address to send on behalf of
  github-app-id:
    type: string
    default: ""
    description: |
      GitHub Application Client ID
  github-api-secret:
    type: string
    default: ""
    description: |
      GitHub Application Client Secret
  github-extended-permissions:
    type: string
    default: "['repo']"
    description: |
      Python formatted list of permissions for the GitHub plugin
  redis-uri:
    type: string
    default: ""
    description: |
      Redis URI
  social-auth-redirect-is-https:
    type: boolean
    default: true
    description: |
      Use https for social auth redirects
  system-secret-key:
    type: string
    default: ""
    description: |
      Secret key for session signing
  web-override:
    type: string
    default: ""
    description: |
      systemd service override for snap.sentry.web.service.
      Can be used to configure an http proxy.
